* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #007e9d;
}

section {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper.a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #008db0;
    height: 100vh;
    color: white;
    font-size: 10vw;
    font-weight: bold;
    padding: 4%;
}

.subtitle {
    font-size: 5vw;
    font-weight: normal;
    margin-top: 20px;
    display: block;
}

.arrow-btn {
    width: 50px;
    height: 50px;
    border: 3px solid #e1e1e1;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-top: 20px;
}

.arrow-btn::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border: 5px solid #e1e1e1;
    border-width: 0 2px 2px 0;
}

.arrow-btn.inversed::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%) rotate(225deg);
    width: 20px;
    height: 20px;
    border: 5px solid #e1e1e1;
    border-width: 0 2px 2px 0;
}

.arrow-btn:hover {
    transform: scale(1.1);
}

.arrow-btn:focus {
    outline: none;
}

.presentation {
    background-color: #154b5c;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.a2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    margin: 10%;
}

.a2 .title {
    font-size: 5vw;
    margin-bottom: 20px; /* Ajout d'un espace entre le titre et le texte */
}

.a2 .speech {
    padding: 20px;
    letter-spacing: 1px;
    max-width: 800px;
}

.a3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 10%;
}

.a3 .title {
    font-size: 5vw;
    margin-bottom: 20px; /* Ajout d'un espace entre le titre et le texte */
}

.a3 .speech {
    padding: 20px;
    letter-spacing: 1px;
    max-width: 800px;
    margin-bottom: 30px; /* Ajout d'un espace sous le texte */
    box-shadow:  -10px -10px teal;
}

.list-comp {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.list-comp li {
    margin-bottom: 10px; /* Espace entre les éléments de la liste */
}

.soft-skills {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.soft-skills li {
    margin-bottom: 10px; /* Espace entre les éléments de la liste */
}